header{
    background-color: #4F99B9;
}
header nav{
    padding: 20px 0;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.logo-header{
    width: 30%;
}
.menu-header{
    width: 30%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.menu-header a{
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
}
.redes-header{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    color: white;
}
.redes-header ion-icon{
    width: 64px;
    height: 64px;
}