/* Fundo ".form" */
.background-form{
    background-color: #d9d9d9;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    padding: 50px 0px 200px 0px;
}

/* Texto ".form" */
.title-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    gap: 20px;
}
.title-form h1{
    font-size: 42px;
    font-weight: bold;
    color: #006090;
    font-family: "Oswald", sans-serif;
}
.title-form h3{
    font-size: 18px;
    font-weight: bold;
    color: #6ac0e9;
    letter-spacing: 3px;
    font-family: "Karla", sans-serif;
}


/* Formulário ".form" */
.form{
    width: 100%;
}
.nome-tel{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nome, .tel{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form label{
    font-size: 18px;
    font-weight: bold;
    color: #7a7a7a;
    font-family: "Karla", sans-serif;
}
.form input{
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 10px 0;
    font-family: "Karla", sans-serif;
    font-size: 18px;
}
.form input[type=number]::-webkit-outer-spin-button, .form
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form input:focus{
    outline: none;
}

/* Input Form ".form" */
.email{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.mensagem{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.mensagem textarea{
    padding: 20px 0 0 20px;
    height: 100px;
    margin: 10px 0;
    border: 0 none;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    resize: none;
}
.mensagem textarea:focus{
    outline: none;
}

/* Botão ".form" */
.form button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    width: 250px;
    background-color: #6ac0e9;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.form button ion-icon{
    width: 25px;
    height: 25px;
}