.secao1{
    background-image: url(../img/projeto_casa_1-img.jpeg);
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.empresa-fundo{
    display: flex;
    justify-content: flex-end;
}
.triangulo-cima{
    border-bottom: 250px solid blue;
    border-left: 150px solid transparent;
}
.retangulo-cima{
    background-color: blue;
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.retangulo-cima h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}
.historia-fundo{
    display: flex;
}
.retangulo-baixo{
    background-color: blue;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.retangulo-baixo p{
    color: white;
    font-size: 20px;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    margin-left: 20%;
}
.triangulo-baixo{
    border-top: 300px solid blue;
    border-right: 200px solid transparent;
}